/* Colors */
:root {
  --yellow: #FFD75B;
  --red: #FF9074;
  --reder: #FF3B0A;
  --green: #91BF8F;
  --grey: #EFEFEF;
  --blackish: #272727;
  --whiteish: #F8F8F8;
  --blue: #456990;
  --bluer: #42658A;
  --trans: rgba(239,239,239,0.5)
}

.bg-yellow, .bgYellow {
  background-color: var(--yellow);
}
.border-yellow {
  border: solid 1px var(--yellow);
}

.bg-blue, .bgBlue {
  background-color: var(--blue);
  color: var(--whiteish);
}
.blue {
  color: var(--blue);
}
.blue:hover {
  color: var(--bluer);
}

.bg-blue:hover {
  background-color: var(--bluer);
}

.bg-red {
  background-color: var(--red);
}
.border-red {
  border: solid 1px var(--red);
}
.bg-green {
  background-color: var(--green);
}
.border-green {
  border: solid 1px var(--green);
}

.bg-white {
  background-color: var(--whiteish);
  color: var(--blackish);
}

.bg-grey, .bgGrey {
  background-color: var(--grey);
  color: var(--blackish);
}



.bg-grey:hover, .bgGrey:hover {
  background-color: white;
  color: black;
}

.bg-blackish, .bgBlackish {
  background-color: var(--blackish);
  color: var(--grey);
}

.bg-none {
  background-color: transparent;
  color: var(--blackish);
}

.bg-blackish:hover {
  background-color: black;
  color: white;
}

.blackish {
  color: var(--blackish);
}
.fontsize-24 {
  font-size: 24px;
}

.blackish:hover {
  color: black;
}

.border-blackish, .borderBlackish {
  border: solid 1px var(--blackish);
}

.bg-trans {
  background-color: var(--trans) ;
  color: var(--blackish);
}

.bg-trans:hover {
  background-color: var(--whiteish) ;
  color: var(--blackish);
}