body {
  margin: 0px;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  break-inside: avoid;
}


footer {
  display: block;
  padding: 4px 36px;
}


button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.15;
  transition: border-color 0.25s;
  margin: 0;
  border: none;
}

.select option {
  background-color: var(--blackish);
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* border-radius: 50px; */
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 1rem;
  background-color: transparent;
  color: var(--blackish);
}

textarea {
  overflow: auto;
  resize: vertical;
}

input [type=text] {
  display: flex;
  width: 90%;
  height: 53px;
  margin-top: 5px;
  padding: 12px;
  overflow: visible;
}


textarea:checked,
textarea:active,
input:checked,
input:active {
  color: white;
  background-color: var(--whiteish);
  border: black solid 1px;

}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  color: var(--bluer);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
  color: #272727;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;

}

h2 {
  font-size: 2em;
  line-height: 1.3;

  text-align: center;
  text-transform: uppercase;
  color: #272727;
  font-family: 'Space Grotesk', sans-serif;


}